.header{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 20%;
  background-color: gainsboro;
  height: 120px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.logo, .rate{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.logo{
  font-size: 30px;
  margin-top: 35px;
}
table{
  width: 300px;
}
tr{
  margin-right: 10px;
}
.table-head{
  font-size: 15px;
}